<h1>Welcome to CSE Motors!</h1>
<%- messages() %>


<div class="main-part">
    <div class="sub-part">
        <ul>
            <li>DMC Delorean</li>
            <li>3 Cup holders</li>
            <li>Supermans doors</li>
            <li>Fuzzy dicel</li>
        </ul>
        <img src="/images/site/own_today.png" alt="own today">
    </div>
</div>

<section class="info-part">
    <div>
        <h2>Delorean Upgrades</h2>
        <div class="img-part">
            <figure>
              <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
              <figcaption><a href="/">flux capacitor</a></figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="flame decals">
                <figcaption><a href="/">flame decals</a></figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                <figcaption><a href="/">Bumper Stickers</a></figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub caps">
                <figcaption><a href="/">Hub Caps</a></figcaption>
            </figure>

        </div>
        
    </div>

    <div class="text-part">
        <h2>DMC Delorean Reviews</h2>
        <div>
            <ul>
                <li>"So fast its almost like travelling in time.(4/5)</li>
                <li>"Coolest ride on the road.(4/5)"</li>
                <li>"im feeling McFly!"(5/5)</li>
                <li>"the most futuristic ride of our day"(4.5/5)</li>
                <li>"80's livin and love it!"(5/5)</li>
            </ul>
        </div>
    </div>
</section>